################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JQueryDatatable
/JQueryDatatable/bin/Debug/netcoreapp3.1
/JQueryDatatable/obj
